@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,500;1,500&family=Outfit:wght@500;700;900&display=swap");
/*Variables*/    
/*Colorscheme*/
/*Spacers*/
/*Variables*/    
/* Horizontal Scrolling (Works Page) */
.works-scroller {
  height: 342px;
  display: grid;
  grid-template-rows: min-content;
  gap: 5px;
  grid-auto-flow: column;
  grid-auto-columns: 32%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 5px;
  /* Show scrollbar */
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}
.works-scroller ::-webkit-scrollbar {
  display: auto;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 5px;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.works-element {
  height: 295px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: #485460;
  border-radius: 10px;
  transition: 0.3s;
}
.works-element img {
  inline-size: 95%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}
.works-element h3 {
  font-size: 1em;
  transition: 0.3s;
}
.works-element:hover {
  color: #0be881;
  filter: drop-shadow(0 0 5px rgba(72, 84, 96, 0.6666666667));
}
.works-element:hover h3 {
  filter: drop-shadow(0 0 1em rgba(11, 232, 129, 0.6666666667));
  font-size: 1.5em;
  font-weight: 700;
}
.works-element:hover img {
  inline-size: 100%;
}
.works-element:hover.vanilla:hover {
  color: #0be881;
  filter: drop-shadow(0 0 5px rgba(72, 84, 96, 0.6666666667));
}
.works-element:hover.vanilla:hover h3 {
  filter: drop-shadow(0 0 1em rgba(11, 232, 129, 0.6666666667));
  font-size: 1.5em;
  font-weight: 700;
}
.works-element:hover.vanilla:hover img {
  inline-size: 100%;
}

/* General Styling */
* {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a, h1, h2, h3, p, li, ul {
  font-family: "Outfit", sans-serif;
}

a {
  font-weight: 500;
  color: #d2dae2;
  text-decoration: inherit;
  transition: 0.3s;
}
a:hover {
  color: #0be881;
  filter: drop-shadow(0 0 1em rgba(210, 218, 226, 0.6666666667));
}
a:hover.vanilla:hover {
  color: #0be881;
  filter: drop-shadow(0 0 1em rgba(11, 232, 129, 0.6666666667));
}

ul {
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e272e;
  color: #d2dae2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

pre {
  border-radius: 10px;
  padding: 10px;
  margin-top: 0;
}
pre code {
  font-family: "Fira Code", monospace;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}

.note {
  font-style: italic;
  color: #808e9b;
  margin: 0;
  margin-left: 10px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navlink {
  padding: 10px;
}

.social-icon {
  margin: 20px;
  color: #0be881;
  transition: 0.3s;
  width: 6em;
}
.social-icon:hover {
  width: 8em;
  filter: drop-shadow(0 0 2em rgba(11, 232, 129, 0.6666666667));
}
.social-icon.vanilla:hover {
  font-size: 8em;
  filter: drop-shadow(0 0 2em rgba(11, 232, 129, 0.6666666667));
}

.blog-content {
  padding: 1em 0 1em 0;
  text-align: left;
}
.blog-content a, .blog-content h1, .blog-content h2, .blog-content h3, .blog-content p, .blog-content li, .blog-content ul {
  font-family: "Open Sans", sans-serif;
}
.blog-content a {
  color: #05c46b;
  text-decoration: underline;
  transition: 0.3s;
}
.blog-content a:hover {
  color: #0be881;
  filter: drop-shadow(0 0 1em rgba(11, 232, 129, 0.6666666667));
}
.blog-content a:hover.vanilla:hover {
  color: #0be881;
  filter: drop-shadow(0 0 1em rgba(11, 232, 129, 0.6666666667));
}

.blog-title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
  margin: 1em;
}
.blog-title p {
  color: #808e9b;
}
.blog-title h1, .blog-title p {
  margin: 5px;
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.3s;
}
.logo:hover {
  height: 10em;
  filter: drop-shadow(0 0 2em rgba(11, 232, 129, 0.6666666667));
}
.logo.vanilla:hover {
  height: 10em;
  filter: drop-shadow(0 0 2em rgba(11, 232, 129, 0.6666666667));
}

.title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
  margin: 1em;
}
.title h1 {
  margin: 0;
}

.description {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
.description h3 {
  margin: 2px;
}

.grow-title {
  transition: 0.3s;
  font-weight: 900;
  font-size: 5em;
}
.grow-title:hover {
  font-size: 6em;
}
.grow-title:hover.vanilla:hover {
  font-size: 6em;
}

.grow {
  transition: 0.3s;
  font-size: 1em;
}
.grow:hover {
  font-size: 2em;
}
.grow:hover.vanilla:hover {
  font-size: 2em;
}

.glow {
  transition: 0.3s;
}
.glow:hover {
  color: #0be881;
  filter: drop-shadow(0 0 1em rgba(11, 232, 129, 0.6666666667));
}
.glow:hover.vanilla:hover {
  color: #0be881;
  filter: drop-shadow(0 0 1em rgba(11, 232, 129, 0.6666666667));
}/*# sourceMappingURL=style.css.map */