---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="title">
      <h1 id="glow">About Me</h1>
    </div>
    <div class="description">
      <h3>
        I'm a Swedish guy who considers myself to be a new Coaster Enthusiast
        after riding Helix at Liseberg, Gothenburg in Sweden.
      </h3>
      <h3>I also like Tech and I have a huge passion for music.</h3>
      <h3>
        I've been playing trumpet for over half of my life, and recently picked
        up the guitar.
      </h3>
      <h3>My favorite Genres of music are J-Rock and J-Pop.</h3>
    </div>
    <div class="title">
      <a href="/" class="glow">
        <h1>Back</h1>
      </a>
    </div>
  </main>
</Layout>
