---
import Layout from "../layouts/Layout.astro";
const allPosts = await Astro.glob("../pages/blog/posts/*.md");

const monthHasPost = true;
---

<Layout>
  <main>
    <div class="title">
      <h1 id="glow">Blog</h1>
    </div>
    <div class="description">
      <h3>
        This is my blog, Here I will post about all kinds of stuff regarding
        myself and what projects I'm working on.
      </h3>
      <h1>Monthly Post</h1>
      <ul>
        {
          monthHasPost && (
            <li>
              <a href="/blog/posts/new month, new website/">
                New Month, New Website?
              </a>
            </li>
          )
        }{!monthHasPost && <p>The current month doesn't have a post.</p>}
      </ul>
      <h1>Post Archive</h1>
      <ul>
        {
          allPosts.map((post) => (
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>

      <div class="title">
        <a href="/" class="glow">
          <h1>Back</h1>
        </a>
      </div>
    </div>
  </main>
</Layout>
