---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <a href="https://youtube.com/@Nelertile" target="_blank">
      <img src="/Nelertile_Logo_Circle.png" class="logo" alt="nt logo" />
    </a>

    <div class="title">
      <h1>Hello, I'm</h1>
      <h1 class="glow grow-title">Nelertile</h1>
      <h3 class="glow">swedish coaster enthusiast who likes tech and music</h3>
    </div>
    <div class="navbar">
      <a class="navlink" href="/about">About</a>
      <a class="navlink" href="/works">Works</a>
      <a class="navlink" href="/blog">Blog</a>
      <a class="navlink" href="/socials">Socials</a>
    </div>
  </main>
</Layout>
