---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout>
  <main>
    <div class="title">
      <h1 id="glow">Socials</h1>
    </div>
    <div>
      <a href="https://youtube.com/@Nelertile" target="_blank">
        <Icon pack="ion" name="logo-youtube" class="social-icon" width=40px />
      </a>
      <a rel="me" href="https://twitter.com/nelertile">
        <Icon pack="ion" name="logo-twitter" class="social-icon" width=40px />
      </a>
      <a href="https://github.com/Nelertile" target="_blank">
        <Icon pack="ion" name="logo-github" class="social-icon" width=40px />
      </a>
      <a href="https://twitch.com/nelertile" target="_blank">
        <Icon pack="ion" name="logo-twitch" class="social-icon" width=40px />
      </a>
      <a href="https://open.spotify.com/artist/2nXNopOG7bZVy0mObAxs0x?si=OQwExKVKSlOnJLo5mS7atQ" target="_blank">
        <Icon pack="fa-brands" name="spotify" class="social-icon" width=40px />
      </a>
    </div>
    <div class="title">
      <a href="/" class="glow">
        <h1>Back</h1>
      </a>
    </div>
  </main>
</Layout>
