---
const {
  title,
  description,
  thumbnail = "hsl(0, 0%, 41%)",
  tags,
  url,
} = Astro.props;
---

<a href={url} class="text-shadow">
  <div class="shadow">
    <h1>{title}</h1>
    <p>{description}</p>
  </div>
</a>

<style define:vars={{ thumbnail }}>
  a {
    text-decoration: none;
  }

  div {
    background: var(--thumbnail);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1rem;
    margin: 1rem;
    transition: filter 0.2s ease;
    border-radius: 10px;
  }

  div:hover {
    filter: brightness(120%);
  }
</style>
