---
export interface Props {
  title: string;
  img: string;
  href: string;
}

const { title, img = "hsl(0, 0%, 41%)", href } = Astro.props;
---

<div class="works-element">
  <a href={href}>
    <h3>{title}</h3>
  </a>
</div>

<style define:vars={{ img }}>
  .works-element {
    background: var(--img);
    background-position: center;
    background-size: cover;
  }

  h3 {
    background-color: #485460e8;
    border-radius: 25px;
    padding: 5px;
  }
</style>
