---
import "../sass/style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nelertile Site v3</title>
  </head>
  <body>
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="site">
      <div class="pagecontent">
        <slot />
      </div>
    </div>
  </body>
</html>
<style is:global>
  .site {
    max-width: 900px;
    margin: auto;
  }
  .pagecontent {
    text-align: center;
  }
  /* Invisible Scrollbar */
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
</style>
